/* Examination number */
/* Yolanda Matiwane */

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 85%;
	background-color: #4766B8;
    margin: 0;
	padding: 0; }

#page {
	width: 720px;
	background-color: white;
	margin: 10px auto;
	border: 2px solid black;
	padding: 10px; }

#banner{
	margin-bottom: 1em;
}
#banner> img{
	height: 85px;
	width: 300px;
}

#navigation{
	margin-top: 1em;
	height: 56px;
	width: 560px;
	margin-left: 150px;
	/* background-color: white;  */
}

#inp1,#inp2{
	width: 100px;
}
#sidebar {
	background-color: white;
	margin-bottom: .7em;
	float: left; 

}
#sidebar> img{
	width: 150px;
	height: 350px;
}


.copyright {
    font-size: 90%;
    text-align: right; 
	margin: 0;
}
	
/* the styles for the table*/

caption {
	display: table-caption;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 150%;
	color: #4766B8; 
}

td, th {
	border: 1px solid black;
	padding: .2em .7em;
	font-size: 95%; 
}	
	
.alignRight {
	text-align: right; 
}

/* Question 1.1 */

#main{
	margin-left: 150px;
}
#table{
	border: 1px solid black;
	height: 100px;
}
#footer{
	margin-top: .5em;
	border-top: 2px solid gray;
	padding-top: .7em;
}

[type="button"]{
	height: 28px;
	font-size: 16px;
	font-weight: 500;
	border: 2px solid rgb(180, 235, 252);
}